/*-------------- about -----------------*/
.about{
	padding-bottom: 40px;
	
	&::after{
		content: '';
		display: inline-block;
		width: 75px;
		height: 1px;
		background: var(--color-warm-gold);
		position: absolute;
		bottom: 0;
		left: 0;
	}

	&__content{
		column-count: 3;
		gap: 40px;
		padding-left: 40px;

		p{break-inside: avoid;}
	}
}

@media (max-width: 1279px) {
	.about{
		&__content{column-count: 2;}
	}
}

@media (max-width: 991px) {
	.about{
		&__content{
			column-count: 1;

			p:last-child{margin-bottom: 0;}
		}
	}
}

@media (max-width: 767px) {
	.about{
		&__content{padding-left: 0;}
	}
}