/*-------------- gallery-slider -----------------*/
.gallery-slider-wrap{
	width: calc(100% + (100vw - 1456px) / 2);
	position: relative;
}

.gallery-slider{
	left: 100%;

	&:not(.swiper-initialized){display: none;}

	&__img{
		padding-bottom: 132%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		box-shadow: 0 0 0 0 rgba(18,26,33,.47),0 5px 11px 0 rgba(18,26,33,.46),0 21px 21px 0 rgba(18,26,33,.4),0 0 28px 0 rgba(18,26,33,.23),0 30px 33px 0 rgba(18,26,33,.01);
		border-radius: 8px;
	}

	&__label{
		font-family: var(--font-jaipur);
		font-size: 2.5rem;
		line-height: 1.4;
		text-align: center;
		margin-top: 10px;
	}
}

.swiper-buttons{
	display: inline-flex;
	gap: 22px;
	margin-bottom: 40px;

	.swiper-button-prev,
	.swiper-button-next{
		flex-shrink: 0;
		width: auto;
		height: auto;
		position: static;
		margin: 0;


		&::after{display: none;}

		.icon{fill: var(--color-warm-gold);}
		&:hover .icon{fill: var(--color-semi-gold);}
	}
}

.gallery-info{
	position: relative;
	.info-block{margin: 45px 0;}

	.anim-point-gallery{
		position: absolute;
		top: 50%;
	}
}

@media (max-width: 1499px) {
	.gallery-slider-wrap{width: calc(100% + 32px);}
}

@media (max-width: 991px) {
	.gallery-slider{
		&__label{font-size: 1.1rem;}
	}
}

@media (max-width: 767px) {
	.gallery-climate{
		position: relative;

		.gallery-info{position: static;}
	}

	.gallery-info{
		.anim-point-gallery{top: 100%;}
		.info-block{padding-bottom: 0;}
	}
}