/*-------------- history -----------------*/
.history{
	position: relative;
	
	&__sect{
		height: 1080px;
		padding: 47px 0;
		position: relative;

		.anim-point-path{
			position: absolute;
			top: 50%;
		}

		[class^="col-"]{position: static;}
	}

	&__sect_center{
		display: flex;
		align-items: center;
	}

	&__title{
		font-family: var(--font-header);
		font-size: 15rem;
		font-weight: 600;
		line-height: 1.05;
		text-transform: uppercase;
		margin-bottom: 50px;
		letter-spacing: -1.5px;
		margin-left: -20px;
	}

	&__text{max-width: 576px;}

	&__links{
		display: flex;
		flex-wrap: wrap;
		gap: 22px;
		margin-top: 72px;

		.btn{
			padding-left: 32px;
			padding-right: 32px;
		}
	}

	.info-block{max-width: 536px;}

	&__line{
		display: block;
		width: 100%;
		height: 161px;
		background-repeat: repeat-x;
		background-position: center;
		position: absolute;
		left: 0;
		bottom: 0;
		z-index: -1;
	}
}

@media (max-width: 1439px) {
	.history{
		&__title{font-size: 10rem;}
		&__links{margin-top: 50px;}

		.info-block{max-width: 460px;}
	}
}

@media (max-width: 1279px) {
	.history{
		&__title{
			font-size: 7.2rem;
			margin-left: 0;
			margin-bottom: 30px;
		}

		&__links{
			margin-top: 30px;

			.btn{padding: 0 24px;}
		}

		.info-block{max-width: 392px;}
	}
}

@media (max-width: 991px) {
	.history{
		&__title{font-size: 5.6rem;}
		&__sect{height: 650px;}

		&__links{
			gap: 15px;
			margin-right: -50px;
		}
	}
}

@media (max-width: 767px) {
	.history{
		padding-top: 182px;

		&__sect{
			height: auto;
			.anim-point-path{top: 100%;}
		}

		&__sect:nth-child(2){text-align: center;}
		&__info{padding-bottom: 100%;}
		
		&__links{
			justify-content: center;
			margin-right: 0;
		}

		.info-block{max-width: none;}
	}
}

@media (max-width: 479px) {
	.history{
		&__title{margin-bottom: 50px;}

		&__links{
			grid-area: 8px;
			margin-top: 50px;

			.btn{padding: 0 20px;}
		}

		&__text{
			font-size: 1.2rem;
			line-height: 1.2;
			padding: 0 30px;
		}
	}
}