/*-------------- info-block -----------------*/
.info-block{
	max-width: 575px;
	
	&__text{
		padding: 0 60px 50px 40px;
		position: relative;

		&::after{
			content: '';
			display: inline-block;
			width: 75px;
			height: 1px;
			background: var(--color-warm-gold);
			position: absolute;
			bottom: 0;
			left: 0;
		}

		p:last-child{margin-bottom: 0;}
	}
}

@media (max-width: 1439px) {
	.info-block{
		max-width: 460px;
		&__text{padding: 0 0 50px 40px;}
	}
}

@media (max-width: 1279px) {
	.info-block{
		max-width: 392px;
		&__text{padding: 0 0 50px 20px;}
	}
}

@media (max-width: 767px) {
	.info-block{
		max-width: none;
		padding-bottom: 100%;
		&__text{padding: 0 0 32px 20px;}
	}
}