extends ../layout/main

block variables
	- var title = 'Типографика';
	- var h1 = 'Типографика';


block label
	img(src="assets/img/vertical-text.png", alt="")

block content
	section.container-fluid
		.row
			.col-12
				p
					a(href='#') Это стандартная ссылка

				p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.</p>

				p По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.</p>

				br
				br
				div.h2 Доп. классы для текста
				p <span class="code">text-left</span> Выравнивание текста по левому краю
				p <span class="code">text-center</span> Выравнивание текста по центру
				p <span class="code">text-right</span> Выравнивание текста по правому краю
				p <span class="code">text-justify</span> Выравнивание текста по ширине
				p <span class="code">text-uppercase</span> Все символы текста становятся прописными (верхний регистр)
				p <span class="code">text-bold</span> Жирный текст
				p <span class="code">text-gradient</span> Текст с радиальным градиентом
				p <span class="code">text-accent</span> Выделяет текст цветом

				br
				br
				div.h2 Заголовки
				h1
					span.text-gradient Заголовок - h1
				h2 Заголовок - h2
				h3 Заголовок - h3
				h4 Заголовок - h4
				h5 Заголовок - h5

				br
				.h1
					span.text-gradient Это класс с названием h1
				.h2 Это класс с названием h2
				.h3 Это класс с названием h3
				.h4 Это класс с названием h4
				.h5 Это класс с названием h5

				br
				br
				br
				div.h2 Кнопки
				a.btn(href='#') Кнопка
				br
				br
				a.btn.btn_grey(href='#') Кнопка
				br
				br
				a.btn(href='#') Кнопка с иконкой
					span.btn__icon-hide
						+svg('ic-decor-arrow-right','ic-decor-arrow-right', '39', '20')
				br
				br
				a.btn.btn_grey(href='#') Кнопка с иконкой
					span.btn__icon-hide
						+svg('ic-decor-arrow-right','ic-decor-arrow-right', '39', '20')

				br
				br
				a.btn.btn_small(href='#') Кнопка
				br
				br
				a.btn.btn_grey.btn_small(href='#') Кнопка


				br
				br
				br
				br
				br
				br
				.h2 Табуляция
				.tabs-page.js-tabs-page
					ul.tabs-page__list.js-tabs-page-list
						li.tabs-page__item.js-tabs-page-item(data-item='tab1') Tab1
						li.tabs-page__item.js-tabs-page-item(data-item='tab2') Tab2
						li.tabs-page__item.js-tabs-page-item(data-item='tab3') Tab3
						li.tabs-page__item.js-tabs-page-item(data-item='tab4') Tab4
					.tabs-page__content.js-tabs-page-content
						#tab1.tabs-page__content-item.js-tabs-page-content-item
							| Первый контент
						#tab2.tabs-page__content-item.js-tabs-page-content-item
							| Второй контент
						#tab3.tabs-page__content-item.js-tabs-page-content-item
							| Третий контент
						#tab4.tabs-page__content-item.js-tabs-page-content-item
							| Четвёртый контент


				br
				br
				br
				br
				div.h2 Иконки
				.type-icon
					.type-icon__item
						.type-icon__img
							+svg('ic-decor-arrow-left','ic-decor-arrow-left', '39', '20')
						.type-icon__name ic-decor-arrow-left

					.type-icon__item
						.type-icon__img
							+svg('ic-decor-arrow-right','ic-decor-arrow-right', '39', '20')
						.type-icon__name ic-decor-arrow-right

					.type-icon__item
						.type-icon__img
							+svg('ic-home','ic-home', '24', '25')
						.type-icon__name ic-home

					.type-icon__item
						.type-icon__img
							+svg('ic-flower','ic-flower', '18', '18')
						.type-icon__name ic-flower

					.type-icon__item
						.type-icon__img
							+svg('ic-circle-arrow','ic-circle-arrow', '58', '70')
						.type-icon__name ic-circle-arrow

					.type-icon__item
						.type-icon__img
							+svg('ic-barrel','ic-barrel', '32', '32')
						.type-icon__name ic-barrel

					.type-icon__item
						.type-icon__img
							+svg('ic-grape','ic-grape', '32', '32')
						.type-icon__name ic-grape

					.type-icon__item
						.type-icon__img
							+svg('ic-date-fruit','ic-date-fruit', '32', '32')
						.type-icon__name ic-date-fruit

					.type-icon__item
						.type-icon__img
							+svg('ic-citrus','ic-citrus', '32', '32')
						.type-icon__name ic-citrus

					.type-icon__item
						.type-icon__img
							+svg('ic-cinnamon','ic-cinnamon', '32', '32')
						.type-icon__name ic-cinnamon

					.type-icon__item
						.type-icon__img
							+svg('ic-lemongrass','ic-lemongrass', '32', '32')
						.type-icon__name ic-lemongrass

					.type-icon__item
						.type-icon__img
							+svg('ic-apple','ic-apple', '32', '32')
						.type-icon__name ic-apple

					.type-icon__item
						.type-icon__img
							+svg('ic-malt','ic-malt', '32', '32')
						.type-icon__name ic-malt

					.type-icon__item
						.type-icon__img
							+svg('ic-spices','ic-spices', '32', '32')
						.type-icon__name ic-spices

					.type-icon__item
						.type-icon__img
							+svg('ic-fire','ic-fire', '32', '32')
						.type-icon__name ic-fire

					.type-icon__item
						.type-icon__img
							+svg('ic-nuts','ic-nuts', '32', '32')
						.type-icon__name ic-nuts

					.type-icon__item
						.type-icon__img
							+svg('ic-juniper','ic-juniper', '32', '32')
						.type-icon__name ic-juniper

					.type-icon__item
						.type-icon__img
							+svg('ic-gold','ic-gold', '32', '32')
						.type-icon__name ic-gold

					.type-icon__item
						.type-icon__img
							+svg('ic-smoke','ic-smoke', '32', '32')
						.type-icon__name ic-smoke

					