:root{
	--font-site: 'Raleway', Arial, sans-serif;
	--font-header: 'Cormorant Infant', Arial, sans-serif;
	--font-jaipur: 'Jaipur', Arial, sans-serif;
	--font-ebgaramond: 'EBGaramond', Arial, sans-serif;

	--color-silver: #A7B0B9;
	--color-warm-gold: #B17C57;
	--color-semi-gold: #F6C187;
	--color-grey: #5B6166;
	// --color-beige: #A8A2A0;
	
	--color-text: var(--color-silver);
	--color-link: var(--color-warm-gold);
	--color-link-hover: var(--color-warm-gold);
	--color-link-active: var(--color-semi-gold);
	--color-btn: var(--color-warm-gold);
	--color-btn-hover: var(--color-semi-gold);
	--color-btn-grey: var(--color-grey);
	--color-btn-grey-hover: var(--color-silver);

	--color-dander: #E01E1E;
}

html,
body{
	background-color: #141D26;
	font-family: $font-site;
	@include font(normal, normal, 10px, 1.4, var(--color-text));
	font-variant-numeric: lining-nums proportional-nums ordinal;
	box-sizing: border-box;
	height: 100%;
}

body{
	background:  url(../img/bg-pattern.png) top center no-repeat;
	font-size: 1.8rem;
}

body.no-scroll {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

// .bg-shadow{
// 	display: none;
// 	width: 100%;
// 	height: 100%;
// 	background: rgba(9,11,14,0.9);
// 	position: fixed;
// 	top: 0;
// 	left: 0;

// 	&.active{display: block;}
// }

*,
*:before,
*:after {
	box-sizing: inherit;
	font-size: inherit;
	font-family: inherit;
}

img{max-width: 100%;}

a{
	color: var(--color-link);
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
	text-decoration-color: var(--color-silver);
}

a:active{
	text-decoration: none;
	color: var(--color-link-active);
}

p{
	padding: 0;
	margin-bottom: 1.4rem;
}

h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5
{
	font-family: var(--font-header);
	line-height: 1.15;
	color: var(--color-warm-gold);
}

h1,.h1{
	font-size: 6.4rem;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 5rem;
}

h2,.h2{
	font-size: 6.4rem;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 5rem;
}

h3,.h3{
	font-size: 4.8rem;
	margin-bottom: 5rem;
	text-transform: none;
}

h4,.h4{
	font-size: 3.2rem;
	margin-bottom: 2rem;
}

h5,.h5{
	font-size: 2.8rem;
	margin-bottom: 2rem;
}

.wrapper{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
	margin: 0 auto;
	padding-top: 154px;
	overflow: hidden;
	position: relative;

	&__text{
		position: absolute;
		top: 150px;
		right: 30px;
	}
}

main{
	flex: 1 1 auto;
	padding-bottom: 100px;
	width: 100%;
}

.last-elem{margin-bottom: -100px;}

.container-fluid{
	max-width: 1540px;
	padding-left: 32px;
	padding-right: 32px;
}


.btn,
input[type="submit"].btn,
button.btn{
	display: inline-flex; 
	align-items: center;
	justify-content: center;
	gap: 16px;
	height: 7.8rem;
	background: transparent;
	border: 1px solid var(--color-btn);
	border-radius: 3.9rem;
	font-family: var(--font-ebgaramond);
	font-size: 3.2rem;
	line-height: 1;
	color: var(--color-btn);
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	padding: 0 48px;
	cursor: pointer;
	transition: all 0.2s ease 0s;
	
	.icon{
		fill: var(--color-btn);
		transition: fill 0.2s ease 0s;
	}

	&__icon-hide{display: none;}

	&:hover{
		color: var(--color-btn-hover);
		border-color: var(--color-btn-hover);
		text-decoration: none;

		.icon{fill: var(--color-btn-hover);}
	}

	&:hover &__icon-hide{display: inline-flex;}

	&_grey{
		color: var(--color-btn-grey);
		border-color: var(--color-btn-grey);

		.icon{fill: var(--color-btn-grey)}
	}

	&_grey:hover{
		color: var(--color-btn-grey-hover);
		border-color: var(--color-btn-grey-hover);

		.icon{fill: var(--color-btn-grey-hover)}
	}

	&_small{
		height: 6.2rem;
		border-radius: 3.1rem;
	}
}

.btn[disabled],
.btn[disabled]:hover{
	border-color: var(--color-grey);
	color: var(--color-grey);
	cursor: auto;

	&:hover .btn__icon-hide{display: none;}
}

.m-indent{
	margin-top: 130px;
	margin-bottom: 130px;
}

.mt-indent{margin-top: 130px;}
.mb-indent{margin-bottom: 130px;}

.p-indent{
	padding-top: 130px;
	padding-bottom: 130px;
}

.pt-indent{padding-top: 130px;}
.pb-indent{padding-bottom: 130px;}

.code{
	background-color: #f7f7f7;
	border: 1px solid #e1e1e8;
	color: #d14;
	padding: 1px 4px;
	display: inline-block;
	font-family: monospace, arial;
	border-radius: 3px;
}

.text-gradient{
	background: #FFFFFF;
	background: -webkit-radial-gradient(circle farthest-corner at center center, #FFFFFF 0%, #B17C57 100%);
	background: -moz-radial-gradient(circle farthest-corner at center center, #FFFFFF 0%, #B17C57 100%);
	background: radial-gradient(circle farthest-corner at center center, #FFFFFF 0%, #B17C57 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.text-left{text-align: left !important;}
.text-center{text-align: center !important;}
.text-right{text-align: right !important;}
.text-justify{text-align: justify !important;}
.text-uppercase{text-transform: uppercase !important;}
.text-bold{font-weight: 700 !important;}
.text-accent{color: var(--color-warm-gold)!important;}

.page-header{
	margin-bottom: 50px;
	h1, .h1{
		margin-bottom: 0;
	}
}

@media (max-width: 1440px) {
	.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
		max-width: 100%!important;
		padding-left: 32px;
		padding-right: 32px;
	}
}

@media (max-width: 1279px) {
	body{font-size: 1.6rem;}

	.h1, .h2, h1, h2{font-size: 4.8rem;}

	.btn,
	input[type="submit"].btn,
	button.btn{
		height: 6rem;
		border-radius: 3rem;
		font-size: 2.8rem;

		&_small{
			height: 4.8rem;
			border-radius: 2.4rem;
			font-size: 2.4rem;
			padding: 0 24px;
		}
	}
}

@media (max-width: 991px) {
	.container-fluid, .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
		padding-left: 20px;
		padding-right: 20px;
	}

	.h1, .h2, h1, h2{font-size: 4rem;}

	.h3, h3{
		font-size: 3.2rem;
		margin-bottom: 2.5rem;
	}

	.wrapper{padding-top: 80px;}

	.m-indent{
		margin-top: 65px;
		margin-bottom: 65px;
	}
	
	.mt-indent{margin-top: 65px;}
	.mb-indent{margin-bottom: 65px;}
	
	.p-indent{
		padding-top: 65px;
		padding-bottom: 65px;
	}
	
	.pt-indent{padding-top: 65px;}
	.pb-indent{padding-bottom: 65px;}
}

@media (max-width: 767px) {
	.h1, .h2, h1, h2{
		font-size: 2.8rem;
		margin-bottom: 3rem;
	}

	body{
		font-size: 1.4rem;
		line-height: 1.25;
	}

	p{margin-bottom: 1.8rem;}

	.btn,
	input[type="submit"].btn,
	button.btn{
		height: 4.8rem;
		border-radius: 2.4rem;
		font-size: 2.4rem;

		&_small{
			height: 4.8rem;
			border-radius: 2.4rem;
			font-size: 2.4rem;
		}
	}

	.wrapper{
		&__text img{max-width: 40px;}
	}
}

@media (max-width: 479px) {
	.btn,
	input[type="submit"].btn,
	button.btn{
		font-size: 1.8rem;
		padding: 0 20px;

		&_small{
			font-size: 1.8rem;
			padding: 0 20px;
		}
	}
}